.form {
  max-width: 20em;
}

.field-error {
  display: block;
  margin-block: 0.25em;
  color: #e53e3e;
}

.field-error::before {
  content: "!";
  display: inline-block;
  width: 1.5em;
  border-radius: 50%;
  margin-inline-end: 0.25em;
  background-color: #e53e3e;
  color: white;
  text-align: center;
}
