.form {
  --red-danger: #d73a3a;
  max-width: 20em;
}

.field-error {
  display: block;
  margin-block: 0.25em;
  color: var(--red-danger);
}

.field-error::before {
  content: "!";
  display: inline-block;
  width: 1.5em;
  border-radius: 50%;
  margin-inline-end: 0.25em;
  background-color: var(--red-danger);
  color: white;
  text-align: center;
}
