.header-title {
  margin-block-end: 0;
}

.header-tagline {
  margin-block-start: 0;
}

.guessedStates {
  padding-inline-start: 1.25em;
  text-transform: capitalize;
}

.guessedStates * {
  padding: 0 0.25rem;
}

.guessedStates :nth-child(even) {
  background: #efefef;
}
