*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
}

body {
  width: 88%;
  max-width: 40em;
  margin: 1em auto;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fff;
}

h1 {
  line-height: 1.1;
}

label,
input {
  display: block;
}

input,
button {
  font: inherit;
}

input {
  width: 100%;
}
